.home-grid {
    margin: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "main_text" 
        "features";
}

.main-text {
    text-align: center;
    grid-area: main_text;
    margin-bottom: 2em;
}

.features {
    text-align: center;
    grid-area: features;
}

.feature-icon {
    margin: auto;
    margin-bottom: 20px;

    color: #2F4063;
    font-size: 4.5rem;
}

@media only screen and (min-width: 992px) {
    .home-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40vh auto 7vh auto;
        grid-template-areas: 
            "main_image main_text main_text" 
            "main_image main_text main_text"
            "- - -"
            "features features features";
    }

    .main-text {
        margin-bottom: 0;
    }

    .main-image {
        display: block;
        border: 2px solid #2F4063;
        grid-area: main_image;
        background-image: url("https://i.ppy.sh/39099c480841ca06226e1114c7306a5e0a921e99/68747470733a2f2f692e696d6775722e636f6d2f4d3032587137372e706e67");
        opacity: 0.5;
        height: 100%;    
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
}