html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  padding: 0px;
  color: #fff;
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 60px;
}

.header {
  background-color: #2F4063;
}

.footer {
  background-color: #2F4063;
  padding: 20px 50px 20px 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
